
  #imagey {
    position: relative;
    left: 50%;
    top: 50%;
    width: 300px;
    height: 300px;
    transform: translate(-50%, -50%) rotate(var(--r, 0deg));
    background-image: url('/images/squirrels.jpg');
    background-position: center;
    background-size: 340px auto;
  }
.vc-image-1{
    border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
    
}
#meowth {
  position: relative;
  left: 50%;
  top: 50%;
  width: 300px;
  height: 300px;
  transform: translate(-50%, -50%) rotate(var(--r, 0deg));
  background-image: url('https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/8cc5cb9a-9b23-40d3-b36d-a45079a4ce97/degpeq8-459d6ae8-3c96-49ce-b71a-f02ef36e4f26.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzhjYzVjYjlhLTliMjMtNDBkMy1iMzZkLWE0NTA3OWE0Y2U5N1wvZGVncGVxOC00NTlkNmFlOC0zYzk2LTQ5Y2UtYjcxYS1mMDJlZjM2ZTRmMjYucG5nIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.SGHKElPSAiPcHP1XIRcZiiwSDdCkbZReLFsINiAesys');
  background-position: center;
  background-size: 480px auto;
}
#mario{
  position: relative;
  left: 50%;
  top: 50%;
  width: 300px;
  height: 300px;
  transform: translate(-50%, -50%) rotate(var(--r, 0deg));
  background-image: url('/images/thumbnail/mario.jpg');
  background-position: center;
  background-size: 300px auto;
}
#hio{
  position: relative;
  left: 50%;
  top: 50%;
  width: 400px;
  height: 400px;
  transform: translate(-50%, -50%) rotate(var(--r, 0deg));
  background-image: url('/images/thumbnail/hiorelation.jpg');
  background-position: center;
  background-size: 400px auto;
  background-repeat: no-repeat;
}
#hashing{
  position: relative;
  left: 50%;
  top: 50%;
  width: 300px;
  height: 300px;
  transform: translate(-50%, -50%) rotate(var(--r, 0deg));
  background-image: url('/images/thumbnail/hash.jpg');
  background-position: center;
  background-size: 250px auto;
  background-repeat: no-repeat;
  background-color: white;
}
#pytorch{
  position: relative;
  left: 50%;
  top: 50%;
  width: 300px;
  height: 300px;
  transform: translate(-50%, -50%) rotate(var(--r, 0deg));
  background-image: url('/images/thumbnail/pytorch-logo.png');
  background-position: bottom 10px right 10px;
  background-size: 300px auto;
  background-repeat: no-repeat;
  background-color: white;
}
#oncaring{
  position: relative;
  left: 50%;
  top: 50%;
  width: 300px;
  height: 300px;
  transform: translate(-50%, -50%) rotate(var(--r, 0deg));
  background-image: url('/images/thumbnail/oncaring.jpg');
  background-position: center;
  background-size: 400px auto;
  background-repeat: no-repeat;
  background-color: white;
}
#probabilistic{
  position: relative;
  left: 50%;
  top: 50%;
  width: 300px;
  height: 300px;
  transform: translate(-50%, -50%) rotate(var(--r, 0deg));
  background-image: url('https://anthonybonato.files.wordpress.com/2017/03/ramsey-4-4-17-2.gif');
  background-position: center;
  background-size: 250px auto;
  background-repeat: no-repeat;
  background-color: white;
  
}
#cow{
  position: relative;
  left: 50%;
  top: 50%;
  width: 300px;
  height: 300px;
  transform: translate(-50%, -50%) rotate(var(--r, 0deg));
  background-image: url('/images/thumbnail/cow.jpg');
  background-position: center;
  background-size: 350px auto;
  background-repeat: no-repeat;
  background-color: white;
  
}
#cavd{
  position: relative;
  left: 50%;
  top: 50%;
  width: 300px;
  height: 300px;
  transform: translate(-50%, -50%) rotate(var(--r, 0deg));
  background-image: url('/images/thumbnail/CAVD_icon.png');
  background-position: center;
  background-size: 300px auto;
  background-repeat: no-repeat;
  background-color: white;
}
code{
  font-size: 18px;
}