@import url(https://fonts.googleapis.com/css?family=Khula:700);
  body {
  background: #ffffff;
}  

.hidden {
  opacity:0;
}

.console-container {
 
  font-family:Khula;
  font-size:4em;
  text-align:left;
  height:200px;
  width:850px;
  display:block;
  position:up;
  color:white;
  top:0;
  bottom:0;
  left:0;
  right:0;
  margin:left;
  padding-left: 5em;
}
.console-underscore {
   display:inline-block;
  position:relative;
  top:-0.14em;
  left:10px;
  color: #B6B6B6;
}
      /* SVG background image via https://haikei.app/ */
    
      .spacer {
        aspect-ratio: 960/80;
        width: 100%;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
      }
    
      .layer1 {
        background-image: url('/images/waves/redwhite.svg');
      }
      .layer2 {
        background-image: url('/images/layer3.svg');
      }
      .redwave2 {
        background-image: url('/images/waves/redwhite.svg')
      }
      .whiterote {
        background-image: url('/images/whiterote.svg')
      }
      .whitedarke{
        background-image: url('/images/whitedarke.svg')
      }
      .whiteblack{
        background-image: url('/images/waves/whiteblack.svg')
      }
      .darkeblack{
        background-image: url('/images/haikei/darkeblack.svg')
      }
    
      .flip {
        transform: rotate(180deg);
      }
      .roundy{
        border-radius: 40% 70% 80% 30% / 40% 30% 70% 70%;
      }
      .bg-blobs{
        background-image: url('/images/haikei/hiervin.svg');
        background-repeat: no-repeat;
      }
      @media screne and (max-width: 1000px){
        .bg-blobs{
          background-image:none;
        }
      }
      .lessroundy{
        border-radius: 5%
      }
      .shady {
      width: 250px;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
      
      text-align: center;
    }
    .term{
      font-family: 'Consolas';
     
    }
    .thumbnail:hover {
      position:relative;
      top:-25px;
      left:-35px;
      width:500px;
      height:auto;
      display:block;
      z-index:999;
  }

  /*Use this class when you want your content to be hidden*/
.BeforeScroll
{
  height: 100px; /*Whatever you want*/
  width: 100%; /*Whatever you want*/
  display: none;
}


/*Use this class when you want your content to be shown after some scroll*/
.AfterScroll
{
  height: 100px; /*Whatever you want*/
  width: 100%; /*Whatever you want*/
  display: block;
}
.blurr{
  filter: blur(2px);
  -webkit-filter: blur(2px);
}
.cursive{
  font-family: S
}




.site-footer
{
  background-color:#000000;
  padding:45px 0 20px;
  font-size:15px;
  line-height:24px;
  color:#737373;
}
.site-footer hr
{
  border-top-color:#bbb;
  opacity:0.5
}
.site-footer hr.small
{
  margin:20px 0
}
.site-footer h6
{
  color:#fff;
  font-size:16px;
  text-transform: uppercase;
  letter-spacing:2px
}
.site-footer a
{
  color:#737373;
}
.site-footer a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links
{
  padding-left:0;
  list-style:none
}
.footer-links li
{
  display:block
}
.footer-links a
{
  color:#737373
}
.footer-links a:active,.footer-links a:focus,.footer-links a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links.inline li
{
  display:inline-block
}
.site-footer .social-icons
{
  text-align:right
}
.site-footer .social-icons a
{
  width:40px;
  height:40px;
  line-height:40px;
  margin-left:6px;
  margin-right:0;
  border-radius:100%;
  background-color:#212429
}
.copyright-text
{
  margin:0
}
@media (max-width:991px)
{
  .site-footer [class^=col-]
  {
    margin-bottom:30px
  }
}
@media (max-width:767px)
{
  .site-footer
  {
    padding-bottom:0
  }
  .site-footer .copyright-text,.site-footer .social-icons
  {
    text-align:center
  }
}
.social-icons
{
  padding-left:0;
  margin-bottom:0;
  list-style:none
}
.social-icons li
{
  display:inline-block;
  margin-bottom:4px
}
.social-icons li.title
{
  margin-right:15px;
  text-transform:uppercase;
  color:#96a2b2;
  font-weight:700;
  font-size:13px
}
.social-icons a{
  background-color:#eceeef;
  color:#818a91;
  font-size:16px;
  display:inline-block;
  line-height:44px;
  width:44px;
  height:44px;
  text-align:center;
  margin-right:8px;
  border-radius:100%;
  -webkit-transition:all .2s linear;
  -o-transition:all .2s linear;
  transition:all .2s linear
}
.social-icons a:active,.social-icons a:focus,.social-icons a:hover
{
  color:#fff;
  background-color:#29aafe
}
.social-icons.size-sm a
{
  line-height:34px;
  height:34px;
  width:34px;
  font-size:14px
}
.social-icons a.facebook:hover
{
  background-color:#3b5998
}
.social-icons a.twitter:hover
{
  background-color:#00aced
}
.social-icons a.linkedin:hover
{
  background-color:#007bb6
}
.social-icons a.dribbble:hover
{
  background-color:#ea4c89
}
@media (max-width:767px)
{
  .social-icons li.title
  {
    display:block;
    margin-right:0;
    font-weight:600
  }
}
.cruvycurv{
  border-radius: 40% 60% 55% 70%;
}
.delux-centering{
  display: flex;
  justify-content: center;
}
@media screen and (max-width: 1000px){
  .semi-lead{
    font-size: 8px;
  }
}